* {
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: 'PhoenicaSTDdemo';
    src: url('../fonts/phoenicastddemo.otf') format('opentype');
}
body {
    background-color: #E2E2E2;
    margin: 0;
    padding: 0;
    font-family: 'PhoenicaSTDdemo', sans-serif;
}
.login-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
  }
.login-box {
    position: relative;
    background-color: white;
    width: 425px;
    top: 45%;
    transform: translateY(-50%);
    margin: 0px auto;
    padding: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.login-box div{
    padding: 40px;
    padding-bottom: 15px;
}

.login-box h2{
    margin-bottom: 36px;
    font-size: 22px;
    font-weight: 400;
    color: #414140;
}
  
.login-box input[type="email"],
.login-box input[type="password"] {
    width: 110%;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 25px;
    margin-left: -5%;
    padding-left: 20px;
    font-size: 10px;
    border: none;
    border-bottom: 1px solid #E5E5E4;
    box-sizing: border-box;
    outline: none;
    line-height: 2;
}
.login-box input[type="email"]::placeholder,
.login-box input[type="password"]::placeholder {
    color: #A9A9A9;
}
  
.login-box a {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #858585;
    text-decoration: none;
}

.login-box a:hover {
    text-decoration: underline;
}
  
.login-box button[type="submit"] {
    width: 50%;
    background-color: #FF5723;
    font-family: 'PhoenicaSTDdemo', sans-serif;
    font-size: 11px;
    color: white;
    padding: 18px 0px;
    border: none;
    cursor: pointer;
    float: right;
    border-bottom-right-radius: 5px;
    transition: background-color 0.3s ease;
}

.login-box button[type="submit"]:hover {
    background-color: #eb455b;
}

.login-box button[type="submit"]:active {
    background-color: #c23a4c;
}

.login-box a.register {
    width: 50%;
    background-color: #673AB8;
    float: left;
    font-size: 11px;
    color: white;
    padding: 18px 0px;
    text-decoration: none;
    border-bottom-left-radius: 5px;
    transition: background-color 0.3s ease;
}

.login-box a.register:hover {
    background-color: #616DB5;
}

.login-box a.register:active {
    background-color: #4a548b;
}

.circle {
    position: absolute;
    border-radius: 50%;
}
  
.circle-1 {
background: linear-gradient(to right, #FCA33C, #664e1e);
width: 170px;
height: 170px;
bottom: 50.5%;
right: 56%;
}

.circle-2 {
background: linear-gradient(to right, #FEBD35, #E24389);
width: 110px;
height: 110px;
bottom: 69%;
right: 55%;
}

.circle-3 {
background: linear-gradient(to bottom right, #ffbf29, #eb455b);
width: 133px;
height: 133px;
right: 66%;
bottom: 64%;
z-index: -1;
}

.circle-4 {
background: linear-gradient(to right, #21ADD3, #7755A9);
width: 60px;
height: 60px;
bottom: 49.5%;
right: 72.5%;
}