* {
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: 'PhoenicaSTDdemo';
    src: url('../fonts/phoenicastddemo.otf') format('opentype');
}
body {
	padding: 40px 80px 4px 80px;
	font-family: 'PhoenicaSTDdemo', sans-serif;
}