* {
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: 'PhoenicaSTDdemo';
    src: url('../fonts/phoenicastddemo.otf') format('opentype');
}
body {
    background-color: #E2E2E2;
    margin: 0;
    padding: 0;
    font-family: 'PhoenicaSTDdemo', sans-serif;
}
/* .circles-container {
    position: absolute;
    z-index: -1;
}
#circle1 {
    position: relative;
    background-color: blue;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    z-index: -1;
}
#circle2 {
    position: relative;
    background-color: rgb(255, 0, 0);
    height: 100px;
    width: 100px;
    border-radius: 100px;
    z-index: -1;
}
#circle3 {
    position: relative;
    background-color: rgb(17, 255, 0);
    height: 150px;
    width: 150px;
    border-radius: 100px;
    z-index: -3;    
}
#circle4 {
    position: relative;
    background-color: rgb(255, 255, 0);
    height: 200px;
    width: 200px;
    border-radius: 100px;
    z-index: -2;
} */
.login-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
  }
.login-box {
    position: relative;
    background-color: white;
    width: 425px;
    top: 45%;
    transform: translateY(-50%);
    margin: 0px auto;
    padding: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.login-box div{
    padding: 40px;
    padding-bottom: 15px;
}

.login-box h2{
    margin-bottom: 35px;
    font-weight: 400;
    color: #414140;
}
  
.login-box input[type="email"],
.login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
  
.login-box a {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #858585;
    text-decoration: none;
}
  
.login-box button[type="submit"] {
    width: 50%;
    background-color: #FF5723;
    font-family: 'PhoenicaSTDdemo', sans-serif;
    font-size: 11px;
    color: white;
    padding: 18px 0px;
    border: none;
    cursor: pointer;
    float: right;
    border-bottom-right-radius: 5px;
}
  
.login-box a.register {
    width: 50%;
    background-color: #673AB8;
    float: left;
    font-size: 11px;
    color: white;
    padding: 18px 0px;
    text-decoration: none;
    border-bottom-left-radius: 5px;
}
.circle {
    position: absolute;
    border-radius: 50%;
}
  
.circle-1 {
background: linear-gradient(to right, #FCA33C, #664e1e);
width: 170px;
height: 170px;
bottom: 50.5%;
right: 56%;
}

.circle-2 {
background: linear-gradient(to right, #FEBD35, #E24389);
width: 110px;
height: 110px;
bottom: 69%;
right: 55%;
}

.circle-3 {
background: linear-gradient(to bottom right, #ffbf29, #eb455b);
width: 133px;
height: 133px;
right: 66%;
bottom: 64%;
z-index: -1;
}

.circle-4 {
background: linear-gradient(to right, #21ADD3, #7755A9);
width: 60px;
height: 60px;
bottom: 49.5%;
right: 72.5%;
}